
<div class="container">

  <!-- reusable header component-->
  <app-header> </app-header>

  <!-- Dom elements per screen are wrapped in templates this promotes a clear separation of screens and also easy
       to do conditional rendering
    -->
  <ng-container *ngIf="champions.length > 0; then data else loadingOrError"></ng-container>

  <!--ng-container directive is used here to conditionally render the screens -->
  <ng-template #loadingOrError>
      <div *ngIf="!errorObject" class="f1-spinner-container">
        <!-- Resusable loading indicator screen -->
        <app-loading-indicator></app-loading-indicator>
      </div>

      <div *ngIf="errorObject" class="f1-spinner-container">
        <!-- Resusable error screen -->
        <app-error-screen (retryClicked)='reloadService()'></app-error-screen>
      </div>
  </ng-template>

  <ng-template #data>
    <h1> List of champions</h1>
     <div class="table-responsive">
        <table class="table table-striped f1-table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Season</th>
              <th scope="col">Driver</th>
              <th scope="col">Points</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let champion of champions">
                <td><em class="fa fa-flag-checkered f1-flag-icon" pReorderableRowHandle></em>{{ champion.season }}</td>
                <td>{{ champion.driver | driverNamePipe }}</td>
                <td>{{ champion.points }}</td>
                <td>
                  <a [routerLink]="['/winners',champion.season, champion.driver.driverId]">
                    <button type="button" class="btn f1-button-normal">
                      <em class="fa fa-eye" pReorderableRowHandle></em>
                      <span class="f1-button-normal-text">View</span>
                    </button>
                  </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </ng-template>

</div>
