<div class="container">
    <div class="f1-button-container">
      <a [routerLink]="['/home']">
        <button type="button" class="btn f1-button-normal">
          <em class="fa fa-chevron-left" pReorderableRowHandle></em>
          <span class="f1-button-normal-text">Back</span>
        </button>
      </a>
    </div>

    <!-- Dom elements per screen are wrapped in templates this promotes a clear separation of screens and also easy
       to do conditional rendering
    -->

    <!--ng-container directive is used here to conditionally render the screens -->
    <ng-container  *ngIf="winners.length > 0; then data else loadingOrError"></ng-container>

    <!-- Render this screen after getting data successfully from the service -->
    <ng-template #loadingOrError>
          <div *ngIf="!errorObject" class="f1-spinner-container">
            <!-- Resusable loading indicator screen -->
            <app-loading-indicator></app-loading-indicator>
          </div>

          <div *ngIf="errorObject" class="f1-spinner-container">
            <!-- Resusable error screen -->
            <app-error-screen (retryClicked)='reloadService()'></app-error-screen>
          </div>
    </ng-template>

    <!-- Render this screen in this template after getting data successfully from the service -->
    <ng-template #data>
      <div class="table-responsive">
        <table class="table f1-table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Race Name</th>
              <th scope="col">Driver</th>
              <th scope="col">Time</th>
              <th scope="col">Laps</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let winner of winners">
                <td [ngClass]="driverId === winner.driver.driverId ? 'f1-winner' : ''">{{ winner.raceName }}</td>
                <td [ngClass]="driverId === winner.driver.driverId ? 'f1-winner' : ''">{{ winner.driver | driverNamePipe }}</td>
                <td [ngClass]="driverId === winner.driver.driverId ? 'f1-winner' : ''"><span>{{ winner.time }}</span></td>
                <td [ngClass]="driverId === winner.driver.driverId ? 'f1-winner' : ''"><span>{{ winner.laps }} Laps</span></td>
            </tr>
          </tbody>
        </table>
      </div>
  </ng-template>

  </div>
