/* You can add global styles to this file, and also import other style files */
// body {
//   font-family: "Helvetica, Arial, sans-serif";
//   line-height: 23px;
//   letter-spacing: 0.2px;
//   background: #d3d3d3;
//   background-size: 100% auto;
//   margin-top: 12px;
//   margin-bottom: 16px;
// }

.f1-capitalize {
  text-transform: capitalize;
}

.f1-podium--surname {
  margin-left: 8px;
  line-height: 17px;
}

.f1-uppercase {
  text-transform: uppercase;
}

.team-color-icon {
  width: 4px;
  height: 14px;
  margin: 0 10px;
  background-color: #00d2be;
  color: #00d2be;
}

.f1-season-text {
  font-weight: 800;
  margin-left: 8px;
  color: #e10600;
}

.f1-driver-points {
  margin-top: 2px;
  float: right;
  font-size: 15px;
}

.f1-accordion-icon {
  color: #e10600;
  margin-left: 12px;
  margin-top: 3px;
  float: right;
  font-size: 20px;
}

.f1-table-list {
    background-color: #ffffff;
}

.f1-button-details {
    background: #e10600;
    color: #ffffff;
    margin-left: 16px;
}

.f1-col-align {
    margin-left: 16px;
}

.f1-back-button {
  float: right;
  margin: 8px;
}

.f1-spinner-container {
  background-color: #ffffff;
  padding: 24px;
  text-align: center;
}
